[submodule "emacs.d/vendor/maxframe.el"]
  path = emacs.d/vendor/maxframe.el
  url = git://github.com/rmm5t/maxframe.el.git
[submodule "emacs.d/vendor/coffee-mode"]
  path = emacs.d/vendor/coffee-mode
  url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/vendor/magit"]
  path = emacs.d/vendor/magit
  url = git://github.com/magit/magit.git
[submodule "emacs.d/vendor/markdown-mode"]
  path = emacs.d/vendor/markdown-mode
  url = git://github.com/defunkt/markdown-mode.git
[submodule "emacs.d/vendor/textile-mode"]
  path = emacs.d/vendor/textile-mode
  url = git://github.com/emacsmirror/textile-mode.git
[submodule "emacs.d/vendor/filladapt"]
  path = emacs.d/vendor/filladapt
  url = git://github.com/emacsmirror/filladapt.git
[submodule "emacs.d/vendor/psvn"]
  path = emacs.d/vendor/psvn
  url = git://github.com/emacsmirror/psvn.git
[submodule "emacs.d/vendor/yasnippet"]
  path = emacs.d/vendor/yasnippet
  url = git://github.com/emacsmirror/yasnippet.git
[submodule "emacs.d/vendor/yasnippets-rails"]
  path = emacs.d/vendor/yasnippets-rails
  url = git://github.com/eschulte/yasnippets-rails.git
[submodule "emacs.d/vendor/yasnippets-shoulda"]
  path = emacs.d/vendor/yasnippets-shoulda
  url = git://github.com/rwc9u/yasnippets-shoulda.git
[submodule "emacs.d/vendor/yaml-mode"]
  path = emacs.d/vendor/yaml-mode
  url = git://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/vendor/ri-emacs"]
  path = emacs.d/vendor/ri-emacs
  url = git://github.com/pedz/ri-emacs.git
[submodule "emacs.d/vendor/ruby-electric"]
  path = emacs.d/vendor/ruby-electric
  url = git://github.com/qoobaa/ruby-electric.git
[submodule "emacs.d/vendor/inf-ruby"]
  path = emacs.d/vendor/inf-ruby
  url = git://github.com/nonsequitur/inf-ruby.git
[submodule "emacs.d/vendor/auctex"]
  path = emacs.d/vendor/auctex
  url = git://github.com/eschulte/auctex.git
[submodule "emacs.d/vendor/htmlize"]
  path = emacs.d/vendor/htmlize
  url = git://github.com/rmm5t/htmlize.git
[submodule "emacs.d/vendor/jekyll.el"]
  path = emacs.d/vendor/jekyll.el
  url = git://github.com/talison/jekyll.el.git
[submodule "emacs.d/vendor/full-ack"]
  path = emacs.d/vendor/full-ack
  url = git://github.com/nschum/full-ack.git
[submodule "emacs.d/vendor/lua-mode"]
  path = emacs.d/vendor/lua-mode
  url = git://github.com/emacsmirror/lua-mode.git
[submodule "emacs.d/vendor/rinari"]
  path = emacs.d/vendor/rinari
  url = git://github.com/eschulte/rinari.git
[submodule "emacs.d/vendor/feature-mode.el"]
  path = emacs.d/vendor/feature-mode.el
  url = https://github.com/michaelklishin/cucumber.el.git
[submodule "emacs.d/vendor/js2-mode"]
  path = emacs.d/vendor/js2-mode
  url = https://github.com/mooz/js2-mode.git
[submodule "emacs.d/vendor/sass-mode"]
  path = emacs.d/vendor/sass-mode
  url = https://github.com/nex3/sass-mode.git
[submodule "emacs.d/vendor/haml-mode"]
  path = emacs.d/vendor/haml-mode
  url = https://github.com/nex3/haml-mode.git
[submodule "emacs.d/vendor/revbufs"]
  path = emacs.d/vendor/revbufs
  url = https://github.com/emacsmirror/revbufs.git
[submodule "emacs.d/vendor/textmate"]
  path = emacs.d/vendor/textmate.el
  url = https://github.com/defunkt/textmate.el.git
[submodule "emacs.d/vendor/mo-git-blame"]
  path = emacs.d/vendor/mo-git-blame
  url = https://github.com/mbunkus/mo-git-blame.git
[submodule "emacs.d/vendor/ace-jump-mode"]
  path = emacs.d/vendor/ace-jump-mode
  url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs.d/vendor/key-chord"]
  path = emacs.d/vendor/key-chord
  url = https://github.com/emacsmirror/key-chord.git
[submodule "emacs.d/vendor/bookmark+"]
  path = emacs.d/vendor/bookmark+
  url = git://github.com/emacsmirror/bookmark-plus.git
[submodule "emacs.d/vendor/dired+"]
  path = emacs.d/vendor/dired+
  url = git://github.com/emacsmirror/dired-plus.git
[submodule "emacs.d/vendor/move-text"]
  path = emacs.d/vendor/move-text
  url = git://github.com/emacsmirror/move-text.git
[submodule "emacs.d/vendor/sunrise-commander"]
  path = emacs.d/vendor/sunrise-commander
  url = git://github.com/emacsmirror/sunrise-commander.git
[submodule "emacs.d/vendor/smart-tab"]
  path = emacs.d/vendor/smart-tab
  url = git://github.com/genehack/smart-tab.git
[submodule "emacs.d/vendor/iedit"]
  path = emacs.d/vendor/iedit
  url = git://github.com/emacsmirror/iedit.git
[submodule "emacs.d/vendor/auto-highlight-symbol"]
  path = emacs.d/vendor/auto-highlight-symbol
  url = git://github.com/mitsuo-saito/auto-highlight-symbol-mode.git
[submodule "emacs.d/vendor/smex"]
  path = emacs.d/vendor/smex
  url = git://github.com/nonsequitur/smex.git
[submodule "emacs.d/vendor/goto-last-change"]
  path = emacs.d/vendor/goto-last-change
  url = git://github.com/emacsmirror/goto-last-change.git
[submodule "emacs.d/vendor/autopair"]
  path = emacs.d/vendor/autopair
  url = git://github.com/emacsmirror/autopair.git
[submodule "emacs.d/vendor/win-switch"]
  path = emacs.d/vendor/win-switch
  url = git://github.com/emacsmirror/win-switch.git
[submodule "emacs.d/vendor/icicles"]
  path = emacs.d/vendor/icicles
  url = git://github.com/emacsmirror/icicles.git
[submodule "emacs.d/vendor/thingatpt+"]
  path = emacs.d/vendor/thingatpt+
  url = git://github.com/emacsmirror/thingatpt-plus.git
[submodule "emacs.d/vendor/ido-ubiquitous"]
  path = emacs.d/vendor/ido-ubiquitous
  url = git://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "emacs.d/vendor/mk-project"]
  path = emacs.d/vendor/mk-project
  url = git://github.com/mattkeller/mk-project.git
[submodule "emacs.d/vendor/shell-pop"]
  path = emacs.d/vendor/shell-pop
  url = git://github.com/emacsmirror/shell-pop.git
[submodule "emacs.d/vendor/ack-and-a-half"]
	path = emacs.d/vendor/ack-and-a-half
	url = git://github.com/jhelwig/ack-and-a-half.git
[submodule "emacs.d/vendor/sr-speedbar"]
	path = emacs.d/vendor/sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar
