[submodule "emacs.d/vendor/maxframe"]
	path = emacs.d/vendor/maxframe
	url = git://github.com/rmm5t/maxframe.el.git
[submodule "emacs.d/vendor/magit"]
  path = emacs.d/vendor/magit
  url = git://github.com/magit/magit.git
[submodule "emacs.d/vendor/markdown-mode"]
  path = emacs.d/vendor/markdown-mode
  url = git://github.com/defunkt/markdown-mode.git
[submodule "emacs.d/vendor/psvn"]
  path = emacs.d/vendor/psvn
  url = git://github.com/emacsmirror/psvn.git
[submodule "emacs.d/vendor/auctex"]
  path = emacs.d/vendor/auctex
  url = git://github.com/emacsmirror/auctex.git
[submodule "emacs.d/vendor/full-ack"]
  path = emacs.d/vendor/full-ack
  url = git://github.com/nschum/full-ack.git
[submodule "emacs.d/vendor/revbufs"]
  path = emacs.d/vendor/revbufs
  url = git://github.com/emacsmirror/revbufs.git
[submodule "emacs.d/vendor/textmate"]
	path = emacs.d/vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "emacs.d/vendor/mo-git-blame"]
  path = emacs.d/vendor/mo-git-blame
  url = git://github.com/mbunkus/mo-git-blame.git
[submodule "emacs.d/vendor/ace-jump-mode"]
  path = emacs.d/vendor/ace-jump-mode
  url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs.d/vendor/key-chord"]
  path = emacs.d/vendor/key-chord
  url = git://github.com/emacsmirror/key-chord.git
[submodule "emacs.d/vendor/bookmark+"]
  path = emacs.d/vendor/bookmark+
  url = git://github.com/emacsmirror/bookmark-plus.git
[submodule "emacs.d/vendor/dired+"]
  path = emacs.d/vendor/dired+
  url = git://github.com/emacsmirror/dired-plus.git
[submodule "emacs.d/vendor/move-text"]
  path = emacs.d/vendor/move-text
  url = git://github.com/emacsmirror/move-text.git
[submodule "emacs.d/vendor/sunrise-commander"]
  path = emacs.d/vendor/sunrise-commander
  url = git://github.com/emacsmirror/sunrise-commander.git
[submodule "emacs.d/vendor/smart-tab"]
  path = emacs.d/vendor/smart-tab
  url = git://github.com/genehack/smart-tab.git
[submodule "emacs.d/vendor/iedit"]
  path = emacs.d/vendor/iedit
  url = git://github.com/emacsmirror/iedit.git
#[submodule "emacs.d/vendor/auto-highlight-symbol"]
#  path = emacs.d/vendor/auto-highlight-symbol
#  url = git://github.com/mitsuo-saito/auto-highlight-symbol-mode.git
[submodule "emacs.d/vendor/smex"]
  path = emacs.d/vendor/smex
  url = git://github.com/nonsequitur/smex.git
[submodule "emacs.d/vendor/goto-last-change"]
  path = emacs.d/vendor/goto-last-change
  url = git://github.com/emacsmirror/goto-last-change.git
[submodule "emacs.d/vendor/autopair"]
  path = emacs.d/vendor/autopair
  url = git://github.com/emacsmirror/autopair.git
[submodule "emacs.d/vendor/win-switch"]
  path = emacs.d/vendor/win-switch
  url = git://github.com/emacsmirror/win-switch.git
[submodule "emacs.d/vendor/icicles"]
  path = emacs.d/vendor/icicles
  url = git://github.com/emacsmirror/icicles.git
[submodule "emacs.d/vendor/thingatpt+"]
  path = emacs.d/vendor/thingatpt+
  url = git://github.com/emacsmirror/thingatpt-plus.git
[submodule "emacs.d/vendor/ido-ubiquitous"]
  path = emacs.d/vendor/ido-ubiquitous
  url = git://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "emacs.d/vendor/mk-project"]
  path = emacs.d/vendor/mk-project
  url = git://github.com/mattkeller/mk-project.git
[submodule "emacs.d/vendor/shell-pop"]
  path = emacs.d/vendor/shell-pop
  url = git://github.com/emacsmirror/shell-pop.git
[submodule "emacs.d/vendor/ack-and-a-half"]
	path = emacs.d/vendor/ack-and-a-half
	url = git://github.com/jhelwig/ack-and-a-half.git
[submodule "emacs.d/vendor/sr-speedbar"]
	path = emacs.d/vendor/sr-speedbar
	url = git://github.com/emacsmirror/sr-speedbar
[submodule "emacs.d/vendor/workgroups"]
	path = emacs.d/vendor/workgroups
	url = git://github.com/tlh/workgroups.el
[submodule "emacs.d/vendor/undo-tree"]
	path = emacs.d/vendor/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "emacs.d/vendor/browse-kill-ring"]
	path = emacs.d/vendor/browse-kill-ring
	url = git://github.com/emacsmirror/browse-kill-ring.git
[submodule "emacs.d/vendor/paredit"]
	path = emacs.d/vendor/paredit
	url = git://github.com/emacsmirror/paredit.git
[submodule "emacs.d/vendor/refheap"]
	path = emacs.d/vendor/refheap
	url = git://github.com/Raynes/refheap.el.git
[submodule "emacs.d/vendor/rainbow-delimiters"]
	path = emacs.d/vendor/rainbow-delimiters
	url = git://github.com/emacsmirror/rainbow-delimiters.git
[submodule "emacs.d/vendor/auto-compile"]
	path = emacs.d/vendor/auto-compile
	url = git://github.com/emacsmirror/auto-compile.git
[submodule "emacs.d/vendor/cl-lib"]
	path = emacs.d/vendor/cl-lib
	url = git://github.com/emacsmirror/cl-lib.git
[submodule "emacs.d/vendor/packed"]
	path = emacs.d/vendor/packed
	url = git://github.com/emacsmirror/packed.git
[submodule "emacs.d/vendor/xclip"]
	path = emacs.d/vendor/xclip
	url = git://github.com/emacsmirror/xclip.git
[submodule "emacs.d/vendor/profile-dotemacs"]
	path = emacs.d/vendor/profile-dotemacs
	url = git://github.com/emacsmirror/profile-dotemacs.git
[submodule "emacs.d/vendor/auto-complete"]
	path = emacs.d/vendor/auto-complete
	url = git://github.com/emacsmirror/auto-complete.git
