.DS_Store

emacs.d/.smex-items
emacs.d/bookmarks
emacs.d/abbrev_defs
emacs.d/auto-save-list
emacs.d/backups
emacs.d/tramp
emacs.d/config/private.el
emacs.d/config/custom.el
emacs.d/config/projects.el
emacs.d/.org-id-locations
emacs.d/autosaves
emacs.d/cache
emacs.d/eshell
emacs.d/framegeometry

*_private*
*.elc
*/#*#
#*#
/.hg/*
*/.hg/*
.hgignore
*.lock
emacs.d/config/custom.el
