emacs.d/.org-id-locations
emacs.d/.smex-items
emacs.d/.workgroups
emacs.d/abbrev_defs
emacs.d/auto-save-list
emacs.d/autosaves
emacs.d/backups
emacs.d/bookmarks
emacs.d/cache
emacs.d/config/custom.el
emacs.d/config/private.el
emacs.d/config/projects.el
emacs.d/eshell
emacs.d/framegeometry
emacs.d/tramp

vim/.netrwhist

\#*#
*.cache
*.elc
*.lock
*/.hg/*
*_private*
*~
.DS_Store
.hgignore
/.hg/*
